.heroImg{
    background-image: url("/assets/hero.jpg");
    position: absolute;
    max-width: 100%;
    height: auto;
}

.logo{
    position: absolute;
    z-index: 1;
    width: 25%;
    height: auto;
    z-index: 1;
    top: 30px;
    left: 30px;
}

.greeting{
    font-size: 7vw;
    color: #fff;
    font-family: 'Londrina Outline', cursive;
}

.greeting2{
    font-size: 4vw;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.btn-outline-secondary {
    color: #fff;
    border-color: #ab5fd1;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    background-color: #ab5fd1;
    border: 1px solid #ab5fd1;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}

.nextSection{
    max-width: 50%;
    height: auto;
}

.img1{
    position: absolute;
    max-width: 100%;
    width: 50%;
    height: 400px;
    z-index: 1;
    margin: -15px;
    padding: -10px;
    left: 720px;
}

.title1{
    color: #623676;
    position: absolute;
    left: 200px;
    bottom: 60px;
}

.para1{
    word-break: break-all;
    position: absolute;
    top: 670px;
    left: 200px;
}

.link1{
    color: #623676;
    position: absolute;
    top: 850px;
    left: 200px;
}