.heroImg{
    background-image: url("/assets/hero.jpg");
    position: absolute;
    max-width: 100%;
    height: auto;
}

.logo{
    position: absolute;
    z-index: 1;
    width: 25%;
    height: auto;
    z-index: 1;
    top: 30px;
    left: 30px;
}

.greeting{
    font-size: 7vw;
    color: #fff;
    font-family: 'Londrina Outline', cursive;
}

.greeting2{
    font-size: 4vw;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.btn-outline-secondary {
    color: #fff;
    border-color: #ab5fd1;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    background-color: #ab5fd1;
    border: 1px solid #ab5fd1;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}
