.responsive-img{
    position: relative;
    max-width: 100%;
    height: auto;
}

.heroImage{
    position: absolute;
    z-index: 0;
    max-width: 100%;
    height: auto;
}

.logo{
    position: absolute;
    z-index: 1;
    width: 25%;
    height: auto;
    z-index: 1;
    top: 30px;
    left: 30px;
}


.greeting{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
    font-size: 9vw;
    padding: 100px;
    /* top: 190px; */
    text-align: center;
    /* left: 350px; */
    color: #fff;
    font-family: 'Londrina Outline', cursive;
}

.greeting2{
    position: absolute;
    z-index: 1;
    width: 100%;
    font-size: 7vw;
    /* padding: 250px; */
    /* top: 320px; */
    text-align: center;
    /* left: 360px; */
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.button{
    position: absolute;
    z-index: 1;
    width: 10%;
    /* top: 450px;
    left: 500px; */
    background-color: #ab5fd1;
    color: #fff;
    /* width: 175px; */
    /* height: 50px; */
    border: 1px solid #ab5fd1;
}



